.main-section form {
  width: 50%;
  margin: auto;
  padding-top: 20px;
}
.main-section .form-control {
  width: 100%;
  display: flex;
  flex-direction: column;
  display: block;
}
.main-section .form-control label {
  font-size: 30px;
}
.main-section .form-control input {
  width: 100%;
  padding: 10px 5px;
  outline: none;
  border-radius: 5px;
}
.main-section .button-form {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.main-section .button-form button {
  background: none;
  background-color: white;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
}
